<app-header [levelAct]="level" (timeExceeded)="setTimeExceed($event)" (timeLevelExceeded)="setTimeLevelExceed($event)"></app-header>
  <div>
   <div class="example-button-container bcenter">
      <button mat-fab color="warn" aria-label="Example icon button with a home icon">
        {{numCenterFirst}} x {{numCenterSecond}}
      </button>
    </div>

  <ngcontainer  *ngFor="let number of this.num; let item = index" class="example-button-container bcenter"
    [ngClass]="this.styleA[item]"
    (click)="evalResult(this.num[item])"
    >
        <button   mat-fab color="primary" aria-label="Example icon button with a home icon">
          {{this.num[item]}}
        </button>
    </ngcontainer>



